node_modules/
*.zip
*.rar
.env
.log
.sqlite
db.sqlite
combined.log
error.log
uploads/*
!uploads/.gitkeep
backups/
chonchi-virtual/
chonchi-virtual.rar
Municipio Virtual Chonchi/
Municipio Virtual Chonchi.rar
Backup/
dist/
PRODUCCION/
.vscode/
config-campos/
